.customOption_row {
    display: flex;
    width: 100%;
    height: 22px;
    flex-direction: row;
    gap: 10px;

    .customOption_imageContainer {
        min-width: 22px;
        min-height: 22px;
    }

    span.childrenContainer {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }
}
