.customOption_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 22px;
  width: 100%;

  .customOption_imageContainer {
    min-width: 22px;
    min-height: 22px;
  }

  span.childrenContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: block;
    white-space: nowrap;
  }
}
