.SurveyResults {
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);

    .panelHeader {
        padding: 24px 32px;
        border-bottom: 1px solid rgba(63, 67, 80, 0.12);

        h5 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .panelBody {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        font-size: 12px;
        gap: 0;

        .actions {
            min-width: 162px;
        }

        .resultHeader {
            padding: 12px 32px;
            border-top: 1px solid rgba(63, 67, 80, 0.08);
            border-bottom: 1px solid rgba(63, 67, 80, 0.08);
            color: rgba(63, 67, 80, 0.64);
            font-weight: bold;

            div {
                flex: 1;

                &.startDate {
                    flex: 1.2;
                }
            }
        }

        .surveyResultRow {
            padding: 11px 32px;
            border-bottom: 1px solid rgba(63, 67, 80, 0.08);
            color: #3F4350;

            div {
                flex: 1;

                &.startDate {
                    flex: 1.2;
                }

                span {
                    display: inline-block;
                    margin-top: 7px;
                }
            }

            .startDate, .endDate {
                font-weight: bold;
            }

            .actions {
                .surveyResultActions {
                    gap: 0;

                    .btn {
                        height: 32px;
                        font-size: 12px;
                    }
                }
            }

            &.noSurveyResults {
                padding: 20px;
                color: rgba(63, 67, 80, 0.64);
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .badge.inProgress {
        display: inline;
        border-radius: 4px;
        margin-left: 8px;
        background-color: #5D89EA;
        font-size: 12px;
        text-transform: uppercase;
    }
}
