.CustomSurveyPost {
    max-width: 665px;
    padding: 10px 0;

    .CustomSurveyPost_survey {
        padding: 16px 19px;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.12);
        border-radius: 4px;
        border-left: 3px solid var(--sidebar-text-active-border, #5D89EA);
        background: var(--center-channel-bg, #FFF);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);

        input::placeholder {
            color: rgba(63, 67, 80, 0.64);
            opacity: 1;
        }

        .questions {
            .question {
                padding: 20px 0;
                border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }

            .questionErrorMessage {
                margin-top: 20px;
            }
        }

        .surveyMessage {
            color: var(--center-channel-color-72, rgba(63, 67, 80, 0.72));
            font-size: 14px;
            font-weight: 400;

            &.error {
                color: var(--error-text);
            }
        }
    }
}
