.row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;

  &:before, &:after  {
    content: none;
  }

  input.form-control {
    box-shadow: none;
    border-radius: 4px;
    padding: 0 8px;
    height: 38px;

    &:hover, &:focus {
      border-color: hsl(0deg, 0%, 70%) !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
