@mixin inputs {
    &:before, &:after  {
        content: none;
    }

    input.form-control {
        height: 38px;
        padding: 0 8px;
        border-radius: 4px;
        box-shadow: none;

        &:hover, &:focus {
            border-color: hsl(0deg, 0%, 70%) !important;
        }

        &:focus {
            box-shadow: none !important;
        }

      &.error {
        border-color: var(--error-text);
      }
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    @include inputs;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    @include inputs;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
