.TextQuestion {
    &.vertical {
        gap: 8px;
    }

    .questionInput {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 80px;
        max-height: 400px;
    }
}
