.SurveyDateSelector {
    display: flex;
    height: 38px;
    flex-direction: row;
    padding: 0 8px;
    border: 1px solid hsl(0deg, 0%, 0%, 80%);
    border-radius: 4px;
    box-shadow: none;
    gap: 8px;

    &:hover {
        border-color: hsl(0deg, 0%, 70%) !important;
    }

    .input {
        flex: 1;
        border: none;
        background: none;
        font-size: 14px;
        pointer-events: none;
    }

    i.icon-calendar-outline {
        padding-top: 7px;
    }

    .icon {
      color: rgba(63, 67, 80, 0.64);
    }
}
