.LinearScaleQuestion {
    &.vertical {
        gap: 8px;
    }

    .scale {
        width: min-content;
        max-width: 100%;
        gap: 4px;

        .scaleLabels {
            color: rgb(var(--center-channel-color-rgb));
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            opacity: 0.75;
        }

        .indents {
            display: flex;
            width: min-content;
            max-width: 100%;
            flex-direction: row;
            border-radius: 16px;
            background: rgba(var(--button-bg-rgb), 0.08);
            gap: 8px;

            &.disabled {
                background: var(--center-channel-color-8, rgba(63, 67, 80, 0.08));
                pointer-events: none;

                .indent.selected {
                    background: var(--center-channel-color-72, rgba(63, 67, 80, 0.72));
                }
            }

            .indent {
                width: 32px;
                height: 32px;
                padding-top: 3px;
                border-radius: 50%;
                cursor: pointer;
                font-size: 16px;
                line-height: 26px;
                text-align: center;

                &.selected {
                    background: var(--button-bg, #1C58D9);
                    color: var(--center-channel-bg, #FFF);

                    &:hover {
                        background: var(--button-bg, #1C58D9);
                    }
                }

                &:hover {
                    background: rgba(var(--button-bg-rgb), 0.4);
                }
            }
        }
    }
}
