.customOption_imageContainer {
  .teamImage {
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-size: contain !important;
    background-color: lightgrey !important;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    span.teamImagePlaceholder {
      font-size: 10px;
    }
  }
}
